@font-face {
  font-family: "SofadiOne";
  src: url("./assets/fonts/RobotoCondensed-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "RobotoCondensed", sans-serif;
}
